<h1>Your favs.. </h1>

<script type="text/javascript">
  $.ajax({
    url: '/favs.json',
    method: "GET",
    error: function(){
      alert("Failed");
    },
    success: function(data) {
      $('#favs').children().remove();
      _.forEach(data, function(fav){
        $('#favs').append(
            "<div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>"
            + "<p style='color:#882323;'><span class='glyphicon glyphicon-asterisk'>"
            + 	"<a style='color:#882323;' href=/posts/" + fav['post_id'] + ">" + fav['title'] + "</a>"
            + "</p>"
            + "<p style='color:#8A8785;''>by:"
            + fav['user']
            + "</p>"
            + "</div>"
        )
      })
    }
  });
</script>

<div id='favs'></div>
