
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2 class="text-center" style="color:#882323;">
          Dan Pinto
        </h2>
        <br>
        <p class="text-center">
          Vancouver, B.C | (604) 908-6428 | fozzarelo@gmail.com
        </p>
        <p class="text-center">
          <a href="https://github.com/fozzarelo">https://github.com/fozzarelo</a>
         | <a href="https://ca.linkedin.com/in/danpintoq"> ca.linkedin.com/in/danpintoq </a>
        </p>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
